/*
             ESTILIZAÇÃO DAS FONTES DOS TEXTOS

        9 Fontes Seguras
        -Arial
        -Arial Black
        -Comic Sans MS
        -Courier New
        -Impact
        -Times New Roman
        -Trebuchet MS
        -Verdana

            (Grupo) Fontes Genéricas
        -Serif
        -Sans-Serif
        -Cursive
        -Fantasy
        -Monospace

*/

P{
    font-family: "lucida grande", "lucida sans", verdana, sans-serif;
    font-style: italic;
    font-weight: initial;
    font-variant: small-caps;
    font-size: 15px;

}