/*
        MEDIDAS ABSOLUTAS

    5in
    5cm
    5mm
    5pt
    5pc

        MEDIDAS RELATIVAS

    5em
    5ex
    5px

*/
*{
    font-size: 10px;
}

h1{
    font-size: 3em;
    /*3 x 10*/
}

h2{
    font-size: 2em;
     /*2 x 10*/
}

h3{
    font-size: 200%;
    /*O valor do h3 é 200% do valor original, se a font-size: 10px ficará 20px*/
}